{template modoer_header}
<style>
.mainrail rail-border-1 .linkslist { width: 100%; padding: 10px 0; overflow: hidden; font-size: 12px; }
    .mainrail rail-border-1 .linkslist li { float: left; display: inline; width: 18em; height: 60px; overflow: hidden; margin: 0 10px; color: #919191; }
        .mainrail rail-border-1 .linkslist li a { margin:0; }
</style>
<div id="body">
<div class="link_path"><a href="{url modoer/index}">首页</a>&nbsp;&raquo;&nbsp;<a href="{url link/index}">友情链接</a>&nbsp;&raquo;&nbsp;申请链接</div>

<div class="mainrail rail-border-1">
<h1 class="rail-h-1 rail-h-bg-1">申请链接</h1>
    <form method="post" action="{url link/apply}">
    <table width="100%" cellspacing="0" cellpadding="0" class="maintable">
        <tr>
            <td width="10%" align="right"><span class="font_1">*</span>网站名称：</td>
            <td><input type="text" name="title" size="30" class="t_input" /></td>
        </tr>
        <tr>
            <td align="right"><span class="font_1">*</span>网站地址：</td>
            <td><input type="text" name="link" size="50" class="t_input" /></td>
        </tr>
        <tr>
            <td align="right">Logo地址：</td>
            <td><input type="text" name="logo" size="50" class="t_input" /></td>
        </tr>
        <tr>
            <td align="right">网站描述：</td>
            <td><input type="text" name="des" size="50" class="t_input" /></td>
        </tr>
        <tr>
            <td align="right">&nbsp;</td>
            <td><button type="submit" name="dosubmit" value="yes">提交申请</button></td>
        </tr>
    </table>
    </form>
</div>
</div>
<!--{eval footer();}-->