{template modoer_header}
<div id="main" class="cc">
	<div class="content">
      	<dl class="hot_fl">
            <dt><a href="#" target="_blank">热门分类</a></dt>
            <dd><a href="#" target="_blank">钢琴老师</a></dd>
            <dd><a href="#" target="_blank">小提琴老师</a></dd>
            <dd><a href="#" target="_blank">古筝老师</a></dd>
            <dd><a href="#" target="_blank">萨克斯老师</a></dd>
            <dd><a href="#" target="_blank">长笛</a></dd>
            <dd><a href="#" target="_blank">更多</a></dd>
        </dl>
      	<div class="focus cc">
        	<ul>
          	<li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/510x260.jpg" width="510" height="260" alt="属性" /></a></li>
          	<li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/510x260.jpg" width="510" height="260" alt="属性" /></a></li>
         	<li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/510x260.jpg" width="510" height="260" alt="属性" /></a></li>
          	<li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/510x260.jpg" width="510" height="260" alt="属性" /></a></li>
          	<li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/510x260.jpg" width="510" height="260" alt="属性" /></a></li>
        	</ul>
        	<dl>
          	<dd class="current">1</dd>
          	<dd>2</dd>
          	<dd>3</dd>
          	<dd>4</dd>
          	<dd>5</dd>
        	</dl>
      	</div>
      	<div class="tt1"><h3 title="推荐琴行"></h3></div>
        <ul class="qhpic1">
        	<li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/145x95.jpg" width="145" height="95" alt="属性" /></a><p><a href="#" target="_blank" title="标题">金寨路美克琴行</a></p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/145x95.jpg" width="145" height="95" alt="属性" /></a><p><a href="#" target="_blank" title="标题">金寨路美克琴行</a></p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/145x95.jpg" width="145" height="95" alt="属性" /></a><p><a href="#" target="_blank" title="标题">金寨路美克琴行</a></p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/145x95.jpg" width="145" height="95" alt="属性" /></a><p><a href="#" target="_blank" title="标题">金寨路美克琴行</a></p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/145x95.jpg" width="145" height="95" alt="属性" /></a><p><a href="#" target="_blank" title="标题">金寨路美克琴行</a></p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/145x95.jpg" width="145" height="95" alt="属性" /></a><p><a href="#" target="_blank" title="标题">金寨路美克琴行</a></p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/145x95.jpg" width="145" height="95" alt="属性" /></a><p><a href="#" target="_blank" title="标题">金寨路美克琴行</a></p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/145x95.jpg" width="145" height="95" alt="属性" /></a><p><a href="#" target="_blank" title="标题">金寨路美克琴行</a></p></li>
        </ul>
        <div class="tt1"><h3 title="看看乐器" class="yq"></h3></div>
        <ul class="qhpic2">
        	<li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/115x100.jpg" width="115" height="100" alt="属性" /></a><p><a href="#" target="_blank" title="标题">SAMICK三益 立式钢琴 二手钢琴 钢琴...</a></p><p class="money">￥18600 </p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/115x100.jpg" width="115" height="100" alt="属性" /></a><p><a href="#" target="_blank" title="标题">SAMICK三益 立式钢琴 二手钢琴 钢琴...</a></p><p class="money">￥18600 </p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/115x100.jpg" width="115" height="100" alt="属性" /></a><p><a href="#" target="_blank" title="标题">SAMICK三益 立式钢琴 二手钢琴 钢琴...</a></p><p class="money">￥18600 </p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/115x100.jpg" width="115" height="100" alt="属性" /></a><p><a href="#" target="_blank" title="标题">SAMICK三益 立式钢琴 二手钢琴 钢琴...</a></p><p class="money">￥18600 </p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/115x100.jpg" width="115" height="100" alt="属性" /></a><p><a href="#" target="_blank" title="标题">SAMICK三益 立式钢琴 二手钢琴 钢琴...</a></p><p class="money">￥18600 </p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/115x100.jpg" width="115" height="100" alt="属性" /></a><p><a href="#" target="_blank" title="标题">SAMICK三益 立式钢琴 二手钢琴 钢琴...</a></p><p class="money">￥18600 </p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/115x100.jpg" width="115" height="100" alt="属性" /></a><p><a href="#" target="_blank" title="标题">SAMICK三益 立式钢琴 二手钢琴 钢琴...</a></p><p class="money">￥18600 </p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/115x100.jpg" width="115" height="100" alt="属性" /></a><p><a href="#" target="_blank" title="标题">SAMICK三益 立式钢琴 二手钢琴 钢琴...</a></p><p class="money">￥18600 </p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/115x100.jpg" width="115" height="100" alt="属性" /></a><p><a href="#" target="_blank" title="标题">SAMICK三益 立式钢琴 二手钢琴 钢琴...</a></p><p class="money">￥18600 </p></li>
            <li><a href="#" target="_blank" title="标题"><img src="{URLROOT}/{$_G[tplurl]}/pic/115x100.jpg" width="115" height="100" alt="属性" /></a><p><a href="#" target="_blank" title="标题">SAMICK三益 立式钢琴 二手钢琴 钢琴...</a></p><p class="money">￥18600 </p></li>
        </ul>
        <div class="tt1"><h3 title="看看乐器" class="kc"></h3></div>
        <ul class="qhlist1">
        	<li><code>1</code><span><a href="#" target="_blank">北京专业高级钢琴一对一培训60分钟</a></span></li>
            <li><code>1</code><span><a href="#" target="_blank">专业钢琴培训一对多课程</a></span></li>
            <li><code>1</code><span><a href="#" target="_blank">高级钢琴培训</a></span></li>
            <li><code>1</code><span><a href="#" target="_blank">guitar轻松弹卡农 专业电吉他 音乐教学！</a></span></li>
            <li><code>1</code><span><a href="#" target="_blank">吉他培训</a></span></li>
            <li><code>1</code><span><a href="#" target="_blank">成人钢琴课程A+级教师</a></span></li>
        </ul>
        <ul class="qhlist1">
        	<li><code>1</code><span><a href="#" target="_blank">北京专业高级钢琴一对一培训60分钟</a></span></li>
            <li><code>1</code><span><a href="#" target="_blank">专业钢琴培训一对多课程</a></span></li>
            <li><code>1</code><span><a href="#" target="_blank">高级钢琴培训</a></span></li>
            <li><code>1</code><span><a href="#" target="_blank">guitar轻松弹卡农 专业电吉他 音乐教学！</a></span></li>
            <li><code>1</code><span><a href="#" target="_blank">吉他培训</a></span></li>
            <li><code>1</code><span><a href="#" target="_blank">成人钢琴课程A+级教师</a></span></li>
        </ul>
    </div>
    <div class="sidebar">
    	<dl class="rtan cc">
        	<dd class="rtan1"><a href="#" target="_blank"><img src="{URLROOT}/{$_G[tplurl]}/pic/42x42.jpg" /></a><a href="#" target="_blank">我是琴行</a></dd>
            <dd class="rtan2"><a href="#" target="_blank"><img src="{URLROOT}/{$_G[tplurl]}/pic/42x42.jpg" /></a><a href="#" target="_blank">我是老师</a></dd>
        </dl>
        <div class="ggtxt">
        	<h3>网站公告</h3>
            <ul>
            	<li class="top1"><a href="#" target="_blank">第二届钢琴比赛6月12日正式开始报名......</a></li>
                <li><a href="#" target="_blank">第二届钢琴比赛6月12日正式开始报名......</a></li>
                <li><a href="#" target="_blank">第二届钢琴比赛6月12日正式开始报名......</a></li>
                <li><a href="#" target="_blank">第二届钢琴比赛6月12日正式开始报名......</a></li>
                <li><a href="#" target="_blank">第二届钢琴比赛6月12日正式开始报名......</a></li>
            </ul>
        </div>
      	<div class="yytxt">
   	  		<h3>快速预约维修调律</h3>
            <dl class="cc">
            	<dd><input name="" type="checkbox" value="" />维修</dd>
                <dd><input name="" type="checkbox" value="" />调律</dd>
                <dd><input name="" type="checkbox" value="" />乐器搬运</dd>
            </dl>
          	<table width="270" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td class="yytd1">乐器名称：</td>
              <td><input name="" type="text" class="yyinput1" /></td>
            </tr>
            <tr>
              <td class="yytd1">使用年限：</td>
              <td><input name="" type="text" class="yyinput1" /></td>
            </tr>
            <tr>
              <td class="yytd1">联系方式：</td>
              <td><input name="" type="text" class="yyinput1" /></td>
            </tr>
            <tr>
              <td class="yytd1">维修地址：</td>
              <td><input name="" type="text" class="yyinput2" /></td>
            </tr>
            <tr>
              <td colspan="2" id="yytj"><input name="" type="image" src="{URLROOT}/{$_G[tplurl]}/images/submit.jpg" class="rt" />我们会在一个小时内与您联系 ！</td>
            </tr>
          	</table>
        </div>
    	<h3><a href="#" target="_blank">合肥琴行活动推荐</a></h3>
        <ul class="qhlist2">
            <li><a href="#" target="_blank">声音在钢琴教学中的地位</a></li>
            <li><a href="#" target="_blank">练琴的16个好习惯</a></li>
            <li><a href="#" target="_blank">有多少钢琴成为“家具”家庭钢琴闲置问题渐突出</a></li>
            <li><a href="#" target="_blank">国人不可不知的29首国乐精华</a></li>
            <li><a href="#" target="_blank">如何擦拭钢琴，让钢琴寿命更长</a></li>
        </ul>
        <h3><a href="#" target="_blank">二手乐器信息</a></h3>
        <ul class="qhlist2a qhlist2 cc">
            <li><a href="#" target="_blank">声音在钢琴教学中的地位</a></li>
            <li><a href="#" target="_blank">练琴的16个好习惯</a></li>
            <li><a href="#" target="_blank">有多少钢琴成为“家具”家庭钢琴闲置问题渐突出</a></li>
            <li><a href="#" target="_blank">国人不可不知的29首国乐精华</a></li>
            <li><a href="#" target="_blank">如何擦拭钢琴，让钢琴寿命更长</a></li>
            <li><a href="#" target="_blank">声音在钢琴教学中的地位</a></li>
            <li><a href="#" target="_blank">练琴的16个好习惯</a></li>
            <li><a href="#" target="_blank">有多少钢琴成为“家具”家庭钢琴闲置问题渐突出</a></li>
            <li><a href="#" target="_blank">国人不可不知的29首国乐精华</a></li>
            <li><a href="#" target="_blank">如何擦拭钢琴，让钢琴寿命更长</a></li>
        </ul>
        <h3><a href="#" target="_blank">乐器知识</a></h3>
        <ul class="qhlist2">
            <li><a href="#" target="_blank">声音在钢琴教学中的地位</a></li>
            <li><a href="#" target="_blank">练琴的16个好习惯</a></li>
            <li><a href="#" target="_blank">有多少钢琴成为“家具”家庭钢琴闲置问题渐突出</a></li>
            <li><a href="#" target="_blank">国人不可不知的29首国乐精华</a></li>
            <li><a href="#" target="_blank">如何擦拭钢琴，让钢琴寿命更长</a></li>
        </ul>
        <h3><a href="#" target="_blank">行业新闻</a></h3>
        <ul class="qhlist2b qhlist2">
            <li><a href="#" target="_blank">声音在钢琴教学中的地位</a></li>
            <li><a href="#" target="_blank">练琴的16个好习惯</a></li>
            <li><a href="#" target="_blank">有多少钢琴成为“家具”家庭钢琴闲置问题渐突出</a></li>
            <li><a href="#" target="_blank">国人不可不知的29首国乐精华</a></li>
            <li><a href="#" target="_blank">如何擦拭钢琴，让钢琴寿命更长</a></li>
        </ul>
    </div>
    <div class="friend">
    	<h3 title="友情链接"><a href="{url link/index}" target="_blank">更多&gt;&gt;&gt;</a></h3>
    	
        <ul class="cc">
        	{get:link val=links(type/char)}
        	<li><a href="$val[link]" target="_blank" title="$val[des]">$val[title]</a></li>
        	{/get}
        </ul>
    </div>
</div>
{template modoer_footer}