<div id="footer">
    <p><a href="#" target="_blank">关于我们</a>|<a href="#" target="_blank">联系我们</a>|<a href="#" target="_blank">服务条款</a>|<a href="#" target="_blank">商家入驻</a>|<a href="#" target="_blank">友情链接</a>|<a href="#" target="_blank">广告服务</a>|<a href="#" target="_blank">纠错建议</a>|<a href="#" target="_blank">网站导航</a></p>
    <p>Copyright @ 2012 Hunla.cc All Rights Reserved. 版权所有  信息产业部icp备案：皖ICP备12009593号-1</p>
</div>
</div>
<script language="javascript" src="files/js/jquery-1.4.2.min.js"></script>
<script language="javascript" src="files/js/index.js"></script>
</body>
</html>