<!--{eval
    $_G['loader']->helper('misc','article');
    $_HEAD['title'] = $MOD[name];
}-->
{template modoer_header}
<script type="text/javascript" src="{URLROOT}/static/javascript/jquery.d.imagechange.js"></script>
<div id="body">
	<div style="width:670px; overflow:hidden; float:left;">

    <div class="mainrail">
        <div class="art_ix">
            <div class="art_ix_l1">
                <div class="l1_pics" id="l1_pics">
                    {get:article val=getlist(att/4/select/articleid,subject,thumb,picture/orderby/listorder,dateline DESC/rows/5)}
                    <a href="{url article/detail/id/$val[articleid]}" title="$val[subject]" target="_blank"><img src="{URLROOT}/$val[picture]" height="200" width="200" /></a>
                    {/get}
                </div>
                <script type="text/javascript">
                    $('#l1_pics').d_imagechange({width:250,height:300,repeat:'draw'});
                </script>
            </div>
            <div class="art_ix_r1">
                <div class="r1_l">
                    <ul class="hl">
                        {get:modoer val=table(table/dbpre_articles/select/articleid,subject,introduce/where/att=1 AND status=1/orderby/listorder/rows/1/cachetime/1000)}
                        <li>
                            <h2><a href="{url article/detail/id/$val[articleid]}">$val[subject]</a></h2>
                            <p>{sublen $val[introduce],60,'...'}...</p>
                        </li>
                        {/get}
                    </ul>
                    <div class="hl_line"></div>
                    <ul class="hl2">
                        {get:modoer val=table(table/dbpre_articles/select/articleid,subject,catid,author,dateline/where/att=2 AND status=1/orderby/listorder/rows/8/cachetime/1000)}
                        <li><cite>$val[author]</cite>[<a href="{url article/list/catid/$val[catid]}">{print:article category(catid/$val[catid])}</a>]&nbsp;<a href="{url article/detail/id/$val[articleid]}">$val[subject]</a></li>
                        {/get}
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
		<div class="clear"></div>

        {get:article cat=category(pid/0)}
        <div class="art_ix rail-border-3">
            <em class="mr10"><a href="{url article/list/catid/$cat[catid]}">更多>></a></em>
            <h2 class="rail-h-1 rail-h-bg-5"><b>$cat[name]</b></h2>
            <ul class="art_ix_l2">
                {get:article val=getlist(select/articleid,subject,thumb,introduce/catid/$cat[catid]/att/3/orderby/listorder/rows/2/cachetime/1000)}
                <li>
                    <div class="p"><a href="{url article/detail/id/$val[articleid]}" alt="$val[subject]"><img src="{URLROOT}/$val[thumb]" width="100" height="80" /></a></div>
                    <div class="t"><h3><a href="{url article/detail/id/$val[articleid]}">{sublen $val[subject],13}</a></h3><p>{sublen $val[introduce],40,'...'}</p></div>
                    <div class="clear"></div>
                </li>
                {/get}
            </ul>
            <div class="l2_line"></div>
            <div class="art_ix_r2">
                <ul class="r2_news">
                    {get:article val=getlist(select/articleid,subject,catid,author,dateline/catid/$cat[catid]/orderby/dateline DESC/rows/7/cachetime/1000)}
                    <li>[<a href="{url article/list/catid/$val[catid]}">{print:article category(catid/$val[catid])}</a>]&nbsp;<a href="{url article/detail/id/$val[articleid]}">{sublen $val[subject],16}</a></li>
                    {/get}
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        {/get}

    </div>
</div>
<div style="float:right; width:280px;">
	<div class="item_rtop"></div>
    <div class="mainrail item_rmid">
        <em><span class="arrow-ico"></span></em>
        <h2 class="rail-h-1 rail-h-bg-5">热点文章</h2>
        <ul class="item_rlist">
            {get:modoer val=table(table/dbpre_articles/select/articleid,subject,comments/where/status=1/orderby/pageview DESC/rows/15/cachetime/1000)}
                        <li><cite>$val[comments]&nbsp;评论</cite><a href="{url article/detail/id/$val[articleid]}">{sublen $val[subject],15}</a></li>
                        {/get}
        </ul>
        <div class="item_rbot"></div>
    </div>
</div>

<div class="clear"></div>

</div>
<!--{eval footer();}-->