<!--{eval
    $_G['loader']->helper('misc','article');
    $_HEAD['title'] = $detail[subject] . $_CFG['titlesplit'] . misc_article::category_path($detail[catid],$_CFG['titlesplit']);
}-->
{template modoer_header}
<div id="body">

    <div class="link_path">
        <em>
            <!--{if $access_post}-->
            <span class="review-ico"><a href="{url article/member/ac/article/op/add/role/$role}">我要投稿</a></span>&nbsp;&nbsp;
            <!--{/if}-->
        </em>
        <div><a href="{url modoer/index}">首页</a>&nbsp;&raquo;&nbsp;<a href="{url article/index}">$MOD[name]</a>&nbsp;&raquo;&nbsp;{print misc_article::category_path($detail[catid],'&nbsp;&raquo;&nbsp;',url("article/list/catid/_CATID_"))}&nbsp;&raquo;&nbsp;正文</div>
    </div>

    <div class="mainrail">

        <div id="article_left">

            <div class="detail">
                <h1 class="subject">$detail[subject]</h1>
                <div class="info">{date $detail[dateline]}&nbsp;&nbsp;&nbsp;&nbsp;{if $val[copyfrom]}来源：$detail[copyfrom]&nbsp;&nbsp;&nbsp;&nbsp;{/if}发布者：{$detail[author]}&nbsp;&nbsp;&nbsp;&nbsp;评论：<a href="#comment">$detail[comments]</a>&nbsp;&nbsp;&nbsp;&nbsp;浏览：$detail[pageview]</div>
                <div class="introduce">$detail[introduce]</div>
                <div class="content">
                    <p style="text-align:center;"><!--{if $detail[picture]}--><img src="{URLROOT}/$detail[picture]" /><!--{/if}--><p>
                    $detail[content]
                </div>
                <div class="digg">
                    <span id="digg_num">$detail[digg]</span>
                    <span id="digg_click"><a href="javascript:;" onclick="article_digg($articleid);">顶一下</a></span>
                    <script type="text/javascript">
                        if(get_cookie('article_digg_$articleid')) {
                            $('#digg_click').html('谢谢支持');
                        }
                    </script>
                </div>
                <div class="operation">
                    <a href="javascript:window.print();">打印本页</a>&nbsp;&nbsp;
                    <a href="javascript:window.close();">关闭窗口</a>&nbsp;&nbsp;
                    <a href="javascript:window.scrollTo(0,0);">返回顶部</a>
                </div>

                <!--{if check_module('comment')}-->
                <div class="comment_foo">
                    <style type="text/css">@import url("{URLROOT}/{$_G[tplurl]}css_comment.css");</style>
                    <script type="text/javascript" src="{URLROOT}/static/javascript/comment.js"></script>
                    <!--{eval $comment_modcfg = $_G['loader']->variable('config','comment');}-->
                    <!--{if $detail[comments]}-->
                    <!--{/if}-->
                    <a name="comment"></a>
                    {eval $_G['loader']->helper('form');}
                    <div id="comment_form">
                        <!--{if $user->check_access('comment_disable', $_G['loader']->model(':comment'), false)}-->
                            <!--{if $MOD[post_comment] && !$comment_modcfg['disable_comment'] && !$detail[closed_comment]}-->
                            <!--{eval $idtype = 'article'; $id = $articleid; $title = 'Re:' . $detail[subject];}-->
                            {template comment_post}
                            <!--{else}-->
                            <div class="messageborder">评论已关闭</div>
                            <!--{/if}-->
                        <!--{else}-->
                        <div class="messageborder">如果您要进行评论信息，请先&nbsp;<a href="{url member/login}">登录</a>&nbsp;或者&nbsp;<a href="{url member/reg}">快速注册</a>&nbsp;。</div>
                        <!--{/if}-->
                    </div>
                    <!--{if !$comment_modcfg['hidden_comment']}-->
                    <div class="mainrail rail-border-3">
                        <em>评论总数:<span class="font_2">$detail[comments]</span>条</em>
                        <h1 class="rail-h-3 rail-h-bg-3">网友评论</h1>
                        <div id="commentlist" style="margin-bottom:10px;"></div>
                        <script type="text/javascript">
                        $(document).ready(function() { get_comment('article',$articleid,1); });
                        </script>
                    </div>
                    <!--{/if}-->
                </div>
                <!--{/if}-->

            </div>

        </div>

        <div id="article_right">

            <!--{if $subject}-->
            <script type="text/javascript">loadscript('item');</script>
            <div class="item_rtop"></div>
   			<div class="mainrail item_rmid">
                <h2 class="rail-h-2"><b><a href="{url item/detail/id/$subject[sid]}"><span class="font_2">$subject[name]&nbsp;$subject[subname]</span></a></b></h2>
                <div class="subject">
                    <!--{eval $itemcfg=$_G['loader']->variable('config','item');}-->
                    <p class="start start{print get_star($subject[avgsort],$itemcfg[scoretype])}"></p>
                    <table class="subject_field_list" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td colspan="2"><span class="font_2">$subject[reviews]</span>点评,
                            <span class="font_2">$subject[guestbooks]</span>留言,
                            <span class="font_2">$subject[pageviews]</span>浏览</td>
                        </tr>
                        $subject_field_table_tr
                    </table>
                    <a class="abtn1" href="{url item/member/ac/review_add/sid/$subject[sid]}"><span>我要点评</span></a>
                    <a class="abtn2" href="javascript:add_favorite($subject[sid]);"><span>收藏</span></a>
                    <a class="abtn2" href="{url item/detail/id/$subject[sid]/view/guestbook}#guestbook"><span>留言</span></a>
                    <div class="clear"></div>
                </div>
                <div class="item_rbot"></div>
            </div>
            <div class="item_rtop mt10"></div>
   			<div class="mainrail item_rmid">
                <em><span class="arrow-ico"><a href="{url article/list/sid/$subject[sid]}">查看全部</a></span></em>
                <h2 class="rail-h-1 rail-h-bg-5">主题其他资讯</h2>
                <ul class="item_rlist">
                    {get:modoer val=table(table/dbpre_articles/select/articleid,subject/where/status=1 AND sid=$subject[sid] AND articleid!=$articleid/orderby/dateline DESC/row/10)}
                    <li><cite>$val[comments]</cite><a href="{url article/detail/id/$val[articleid]}" title="$val[subject]">{sublen $val[subject],23}</a></li>
                    {/get}
                </ul>
                <div class="item_rbot"></div>
            </div>
            <!--{/if}-->
			<div class="item_rtop {if $subject} mt10{/if}"></div>
            <div class="mainrail item_rmid">
                <h2 class="rail-h-1 rail-h-bg-5">头条推荐</h2>
                <ul class="item_rlist">
                    {get:modoer val=table(table/dbpre_articles/select/articleid,subject,catid,dateline/where/status=1 AND att=1/orderby/dateline DESC/row/10)}
                    <li><cite>$val[comments]</cite><a href="{url article/detail/id/$val[articleid]}" title="$val[subject]">{sublen $val[subject],23}</a></li>
                    {/get}
                </ul>
                <div class="item_rbot"></div>
            </div>

            <div class="item_rtop mt10"></div>
   			<div class="mainrail item_rmid">
                <h2 class="rail-h-1 rail-h-bg-5">热门评论</h2>
                <ul class="item_rlist">
                    {get:modoer val=table(table/dbpre_articles/select/articleid,subject,comments,dateline/where/comments>0 AND status=1/orderby/comments DESC/row/10)}
                    <li><cite>$val[comments]评论</cite><a href="{url article/detail/id/$val[articleid]}" title="$val[subject]">{sublen $val[subject],15}</a></li>
                    {/get}
                </ul>
                <div class="item_rbot"></div>
            </div>
        </div>

        <div class="clear"></div>

    </div>

</div>
<!--{eval footer();}-->