<!--{eval
    $_HEAD['title'] = ($subject ? ($subject[name]  . ',' . $subject[subname] . ',') : '') . (isset($catid)?$category[$catid][name]:'') . $MOD[name] . $_CFG['titlesplit'] . $MOD[subtitle];
}-->
{template modoer_header}
<div id="body">

    <div class="link_path">
        <em>共找到<span class="font_2">$total</span>个优惠券</em>
        <a href="{url modoer/index}">{lang global_index}</a>&nbsp;&raquo;&nbsp;{print implode('&nbsp;&raquo;&nbsp;', $urlpath)}
    </div>

    <div id="coupon_left">
		<div class="catefoot_top"></div>
        <div class="c_category">
        	<div class="catefoot_title"><h3>分类列表</h3></div>
            <ul>
            	<li><span class="pa2">分类：</span></li>
                {get:coupon val=category(nocache/1)}
                <li$active[catid][$val[catid]]><a href="{url coupon/index/catid/$val[catid]}">$val[name]</a><span class="font_3">($val[num])</span></li>
                {/get}
            </ul>
            <div class="clear"></div>
            <ul>
                <li><span class="pa2">排序：</span></li>
            <span$active[orderby][dateline]><a href="javascript:;" onclick="list_display('coupon_orderby','dateline')">最新发布</a></span>
            <span$active[orderby][pageview]><a href="javascript:;" onclick="list_display('coupon_orderby','pageview')">浏览量</a></span>
            <span$active[orderby][effect1]><a href="javascript:;" onclick="list_display('coupon_orderby','effect1')">最有用的</a></span>
            <span$active[orderby][comments]><a href="javascript:;" onclick="list_display('coupon_orderby','comments')">最多评论</a></span>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="catefoot_bot"></div>

        {dbres $list $val}
        <div class="il_coupon mt10">
            <h2><span>[<a href="{url coupon/index/catid/$val[catid]}">$category[$val[catid]][name]</a>]</span><a href="{url coupon/detail/id/$val[couponid]}">$val[subject]</a></h2>
            <div class="thumb"><a href="{url coupon/detail/id/$val[couponid]}"><img src="{URLROOT}/$val[thumb]" alt="$val[subject]" /></a></div>
            <ul class="info">
                <li class="full">商户：<a href="{url item/detail/id/$val[sid]}">$val[name]{if $val[subname]}($val[subname]){/if}</a></li>
                <li>开始日期：<span class="font_2">{date $val[starttime], 'Y-m-d'}</span></li>
                <li>截止日期：<span class="font_2">{date $val[endtime], 'Y-m-d'}</span></li>
                <li class="full">现有<span class="font_2">$val[pageview]</span>次浏览，<span class="font_2">$val[comments]</span>个评论，其中有<span class="font_2">$val[effect1]</span>人认为有用</li>
                <li class="full">优惠：$val[des]</li>
            </ul>
            <div class="clear"></div>
        </div>
        {/dbres}

        <div class="multipage">$multipage</div>

    </div>

    <div id="coupon_right">
    
    	<div class="item_rtop"></div>
    	<div class="mainrail item_rmid">
			<h3 class="rail-h-1 rail-h-bg-5">搜索优惠券</h3>
			<div class="coupon-side-search" style="padding-top:8px;">
				<form method="get" action="{URLROOT}/coupon.php">
					<input type="hidden" name="catid" value="$catid" />
					<input type="text" name="keyword" class="coupon_input" value="$keyword" />&nbsp;
					<button type="submit" class="coupon_btn">搜索</button>
				</form>
			</div>
            <div class="item_rbot"></div>
		</div>

        <div class="item_rtop mt10"></div>
    	<div class="mainrail item_rmid">
            <h3 class="rail-h-1 rail-h-bg-5">最新发布</h3>
            <ul class="rail-list">
                {get:coupon val=list_new(row/10/cachetime/1000)}
                <li><cite>{date $val[dateline],'m-d'}</cite><a href="{url coupon/detail/id/$val[couponid]}">{sublen $val[subject],15}</a></li>
                {/get}
            </ul>
            <div class="item_rbot"></div>
        </div>

        <div class="item_rtop mt10"></div>
    	<div class="mainrail item_rmid">
            <h3 class="rail-h-1 rail-h-bg-5">最受关注</h3>
            <ul class="rail-list">
                {get:coupon val=list_hot(row/10/cachetime/1000)}
                <li><cite>$val[effect1]&nbsp;人有用</cite><a href="{url coupon/detail/id/$val[couponid]}">{sublen $val[subject],15}</a></li>
                {/get}
            </ul>
            <div class="item_rbot"></div>
        </div>

    </div>

</div>
<!--{eval footer();}-->