#card_left { float:left; width:670px; overflow:hidden;}
#card_right { float:right; width:280px; overflow:hidden;}
/*
#card_left .c_category {  border:1px solid #ddd; margin-bottom:10px; padding-bottom:10px; }
#card_left .c_category ul { margin:10px; padding:0; list-style:none;  }
#card_left .c_category ul h3 { font-size:12px; padding:0; margin:0; }
#card_left .c_category li { float:left; width:100px; padding:5px 0; }
#card_left .c_category li.selected a{ color:#CC0000; font-weight:bold; }
*/
#card_left .c_category {  border:0px solid #ddd; padding-bottom:10px;border-left:1px solid #FBCFA8; border-right:1px solid #FBCFA8; }
#card_left .c_category ul { margin:10px auto; padding:0; list-style:none; width:650px;}
#card_left .c_category ul h3 { font-size:12px; padding:0; margin:0; }
#card_left .c_category li { float:left; margin:0 5px;padding:5px 0; }
#card_left .c_category li a {padding:2px; color:#0966BE; margin:0 2px; white-space:nowrap;}
#card_left .c_category li a:hover { text-decoration: none; color:#fff; background:#63B8E7;}
#card_left .c_category li.selected a{ color:#CC0000; font-weight:bold; }


.il_coupon { margin-bottom:10px; padding:10px 10px 10px 5px;/*  border:1px dashed #FF7575;*/ border-bottom:1px solid #eaeaea; }
.il_coupon .thumb { float:left; width:145px; *width:110px; margin:0; }
    .il_coupon .thumb img { vertical-align: middle; max-width:140px; max-height:100px; _width:expression(this.width > 140 ? 140 : true); 
    _height:expression(this.height > 100 ? 100 : true); }
.il_coupon .info { float:right; width:500px; color:#808080; margin:0; padding:0; list-style:none; }
.il_coupon .info li { float:left; width:250px; padding:5px 0; margin:0; }
.il_coupon .info li.full { width:100%; }
