/*
.ix1_left { float:left; width:260px; height:200px; }

.ix1_center { float:left; margin-left:10px; width:400px; _width:400px; height:200px; }
.ix1_center .hl { list-style:none; padding:0;margin:5px; }
.ix1_center .hl h2 {font-size:14px;padding:0;margin:10px 0;text-align:center; }
.ix1_center .hl h2 a { color:#FF9900; }
.ix1_center .hl p { padding:0; margin:10px 0px;color:#808080; }
.ix1_center .ix1_line { border-top:1px dotted #ddd;height:1px; margin:0 10px 5px 5px; _overflow: hidden; }
.ix1_center .hl2 { list-style:circle ; list-style-position:outside; padding:0; margin:8px 0 0 0; }
.ix1_center .hl2 li { float:left; width:165px; height:24px; margin-left:25px; padding-left:0px; *margin-left:8px; *width:175px; }
.ix1_center .hl3 { list-style:none; padding:0;margin:5px; }
.ix1_center .hl3 li { float:left; width:25%; }
.ix1_center .hl3 li div { border:1px solid #ddd; padding:1px; width:88px; margin:0 auto; }

.ix1_right { float:right; margin-top:2px; width:245px; background:url(img/index1_bg.jpg) no-repeat; height:200px;}
.ix1_right .btns { float:left;height:100px;*height:90px;overflow:hidden;padding-left:3px;width:245px; }
.ix1_right .btns a {display:block;float:left;height:30px;margin-bottom:10px;margin-right:5px;width:112px;text-indent:-3000px; }
.ix1_right .comm { margin:0; padding:0; list-style:none; height:143px; }
.ix1_right .comm h2 { font-size:12px; margin:10px 5px 5px; padding:0 0 5px 10px; }
.ix1_right .comm li { margin:8px 10px; padding-left:5px; }
*/
.index_1{width:960px;}
.ixf_left { float:left; width:670px; padding:0; border:0; margin:0; display:inline-block; margin-right:-310px;}
.ixf_right { float:right; width:280px; overflow:hidden; padding:0; border:0; margin:0; display:inline-block; }
.w670_hid {width:670px; overflow:hidden;}

.ix_foo { margin:0 0 5px 0; padding:0; }
.ix_finer { background:url(img/ix_finer.jpg) no-repeat; height:35px; }
.ix_picture { background:url(img/ix_picture.jpg) no-repeat; height:35px; }
.ix_review { background:url(img/ix_review.jpg) no-repeat; height:35px; }
.ix_left1_body { border-left:1px solid #ddd; border-right:1px solid #ddd; }
.ix_left1_bottom { background:url(img/ix_left1_bottom.jpg) no-repeat; height:10px; _overflow: hidden; }
.ix_left1_more { display:block; float:right; line-height:30px; margin-right:10px; }

.ix_right_top { background:url(img/ix_right_top.jpg) no-repeat; height:11px; margin-top:1px; _overflow: hidden; }
.ix_right_body { background:#fafafa; border-left:1px solid #ddd; border-right:1px solid #ddd; }
.ix_right_body h2 { font-size:12px; margin:0px 0px 0px 10px;padding:0; }
.ix_right_bottom { background:url(img/ix_right_bottom.jpg); height:7px; _overflow: hidden; }

.ix_tab { float:left;font-size:12px;height:25px;line-height:25px;margin:5px 0 0 8px;overflow:hidden;white-space:nowrap;list-style:none; }
.ix_tab div { float:left; padding:0 10px; }
.ix_tab .selected a { color:red; border-bottom:1px solid red; }

.index_pic { margin:0; padding:5px 0 0 0px; *padding-left:5px; list-style:none; }
.index_pic li { float:left; width:95px; height:75px; text-align:center; margin-top:5px; margin-left:5px;*margin-left:3px; _display:inline; }
.index_pic li div { margin:0 auto; width:90px; height:75px; border:1px solid #eee; }
.index_pic li div img { vertical-align: middle; max-width:85px; max-height:70px; _width: expression(this.width > 80 ? 80 : true); 
    _height: expression(this.height > 70 ? 70 : true); }
.index_pic li div b { display:inline-block; height:100%; vertical-align:middle; }

.index_subject_pic { margin:0; padding:0; list-style:none; }
.index_subject_pic li { float:left; width:124px; height:120px; _height:125px; text-align:center; margin-top:10px; _margin-top:5px; margin-left:8px; _display:inline; }
.index_subject_pic li div { margin:0 auto; width:120px; height:100px; border:1px solid #eee; }
.index_subject_pic li div img {max-width:110px; max-height:82px; _width: expression(this.width > 110 ? 110 : true); 
    _height: expression(this.height > 82 ? 82 : true); margin-top:9px;  /*margin-top: expression((100-this.height)/2);*/ }
.index_subject_pic li p { margin:5px 0; padding:0; _margin:2px 0; }

.ix_coupon { margin:0; padding:0; list-style:none; }
.ix_coupon li.c { clear:both; padding-left:8px; background:url(img/dot1.png) no-repeat 0 9px; line-height:19px; }
.ix_coupon li.c cite { float:right; font-style:normal; color:#808080; margin-right:5px; }
.ix_coupon li.thumb {float:left; margin:18px 22px 10px 0; width:310px; height:85px; line-height:22px; border-bottom:1px dotted #dedede; padding:0;}
.ix_coupon li.thumb img { max-width:100px; max-height:66px; _width: expression(this.width > 100 ? 100 : true); 
    _height: expression(this.height > 66 ? 66 : true); border:1px solid #dedede; padding:2px; }
.ix_c_t_left {float:left;}
.ix_c_t_right {float:left; margin-left:5px;}
.ix_cou_list{float:left; width:310px; line-height:22px; margin-right:22px; font-family:'ו';}
.mlr2{margin:0 3px;}
.span_0966be {color:#0966BE;}
.span_0966be a{color:#0966BE;} 
.ix_review_a a{color:#0966be;}
.ix_review_a a:hover{color:#d10000;}

.ix_fenlei_list{margin-right:12px; font-family:'ו'; float:left; width:210px; overflow:hidden; height:22px; line-height:22px;}

.ix_article { margin:0; padding:0; list-style:none; }
.ix_article li.c { clear:both; padding-left:8px; background:url(img/dot1.png) no-repeat 0 9px; line-height:19px; }
.ix_article li.c cite { float:right; font-style:normal; color:#808080; margin-right:5px; }
.ix_article li.thumb {float:left; margin:18px 22px 10px 0; width:310px; height:88px; line-height:20px; border-bottom:1px dotted #dedede; padding:0;}
.ix_article li.thumb img { width:80px; height:70px;border:1px solid #dedede; padding:2px; }
.ix_a_t_left {float:left;}
.ix_a_t_right {float:left; margin-left:5px;}

.ix_avgsort {margin-right:10px; width:66px;}
.user_color {color:#000;}

.ix_card { margin:0px 0 0 10px; padding:5px 0; list-style:none; }
.ix_card li { padding-left:8px; background:url(img/dot1.png) no-repeat 0 9px; line-height:20px; }
.ix_card li cite { float:right; font-style:normal; color:green; margin-right:5px; }

.ix_category { margin:10px; padding:0; line-height:2px; }
.ix_category h3 { font-size:12px; padding:0; margin:0; }
.ix_category a { margin-left:2px; }

.ix_tag { margin:0; padding:5px 10px; line-height:22px; }
.ix_tag a { margin-left:5px; }

/*--- Review ---*/
.review { clear:both; width:670px; margin:0 auto; border-bottom:1px solid #ececec; padding:5px 0}
.review .member { float:left; width:60px; text-align:center; }
.review .member img { display:block; margin-left:3px; border:1px solid #eee; padding:1px; }
.review .itemimg { float:left; width:108px; text-align:center; margin-top:8px; }
.review .itemimg span { border:1px solid #dedede; padding:2px; display:block;}
.review .itemimg img { max-width:90px; max-height:69px; _width: expression(this.width > 100 ? 100 : true); 
    _height: expression(this.height > 75 ? 75 : true); }
.review .field { float:right; width:600px; }
.review .feed { /*background:#FFF9F2;*/ padding:0 5px; line-height:25px; margin-bottom:0px; font-weight:normal; font-size:12px; }
.review .info .score { clear:both; list-style:none; margin:0px 0 6px; padding:0; font-family:'ו'; }
.review .info .score li { float:left; margin:0 2px 0 0; line-height:20px; height:16px;}
.review .info p { padding:5px 0; *padding:0px; margin:0 5px; line-height:20px; color:#666; overflow:auto; *overflow:hidden; }

/*--- Link ---*/
.index_links { padding:10px 10px 0; }
.index_links .line { margin:10px 0; height:1px; border-top:1px dashed #ddd; _overflow: hidden; }
.index_links .links { padding:0; margin:5px 0; }
.index_links .links a { margin-right:15px; }
.flinks{border-top:1px solid #ddd; padding:10px 0 5px;}
.flinks_left{float:left; width:65px;}
/*----ix_bg_f2f2f2------*/
.ix_bg_f2f2f2 {background:#f3f3f3; padding:10px 0;}
.ix_r_w245{width:245px; margin:0 auto;}
.ix_hr{margin-top:10px; height:2px; border-bottom:1px solid #FFFFFF; border-top:1px solid #dedede;}

.addbutton{background:#fafafa; border:1px solid #e5e5e5; padding:15px 0; text-align:center;}













