<!--{eval 
    $_HEAD['title'] = '标签:' . $tagname;
}-->
{template modoer_header}
<div id="body">

    <div class="link_path">
        <em><a href="{url item/tag}">热门标签</a></em>
        <a href="{url modoer/index}">首页</a>&nbsp;&raquo;&nbsp;<a href="{url item/tag}">标签</a>&nbsp;&raquo;&nbsp;$tagname<span class="font_3">($total)</span>
    </div>

    <div class="mainrail rail-border-1 pt10">
        <h1 class="rail-h-1 rail-h-bg-5">标签:$tagname</h1>
        <table class="maintable" border="0" cellspacing="0" cellpadding="0">
        <tr class="tblth">
            <th width="*">名称</th>
            <th width="140">所属板块</th>
            <th width="50" class="num">点评量</th>
            <th width="50" class="num">图片量</th>
            <th width="50" class="num">浏览量</th>
            <th width="50">点评</th>
            <th width="50">收藏</th>
        </tr>
        <!--{dbres $list $val}-->
        <tr>
            <td><a href="{url item/detail/id/$val[sid]}" target="_blank">$val[name]&nbsp;$val[subname]</a></td>
            <td><a href="{url item/list/catid/$val[pid]}">{print $category[$val[pid]][name]}</a> &gt; <a href="{url item/list/catid/$val[catid]}">{print $category[$val[catid]][name]}</a></td>
            <td class="num">$val[reviews]</td>
            <td class="num">$val[pictures]</td>
            <td class="num">$val[pageviews]</td>
            <td><a href="{url item/member/ac/review_add/sid/$val[sid]}">点评</a></td>
            <td><a href="javascript:add_favorite($val[sid]);">收藏</a></td>
        </tr>
        <!--{/dbres}-->
        </table>
        <div class="clear"></div>
    </div>
    <div class="multipage">$multipage</div>

</div>
<!--{eval footer();}-->