{template modoer_header}
<script type="text/javascript" src="{URLROOT}/static/javascript/validator.js"></script>
<div id="body">
<div class="link_path"><a href="{url modoer/index}">首页</a>&nbsp;&raquo;&nbsp;登录</div>
<div class="mainrail member_login">
    <div class="post">
        <div class="member_login_log">
        	<h3 class="log_h3">用户登录：</h3>
            <form method="post" action="{url member/login/op/login/rand/$_G[random]}" onsubmit="return validator(this);">
                <table class="table" cellspacing="0" cellpadding="0" style="margin:10px auto;">
                    <tr>
                        <td align="right" width="72" class="font14">用户名：</td>
                        <td width="*"><input type="text" name="username" class="t_input" style="width:170px;" validator="{'empty':'N','errmsg':'请填写您的登录用户名。'}" /></td>
                    </tr>
                    <tr>
                        <td align="right" class="font14">密码：</td>
                        <td><input type="password" name="password" class="t_input" style="width:170px;" validator="{'empty':'N','errmsg':'请填写您的登录密码。'}" /></td>
                    </tr>
                    <!--{if $MOD['seccode_login']}-->
                    <tr>
                        <td align="right" valign="top">验证码：</td>
                        <td><div id="seccode" class="none" style="float:left;width:80px;position:relative;top:-3px;"></div>
                            <input type="text" name="seccode" class="t_input" style="width:118px;" onblur="check_seccode(this.value);" onfocus="show_seccode();" validator="{'empty':'N','errmsg':'请输入注册验证码'}" />
                            <span id="msg_seccode" class="formmessage none"></span>
                        </td>
                    </tr>
                    <!--{/if}-->
                    <tr>
                        <td align="right"></td>
                        <td><input type="checkbox" name="life" id="life" value="2592000" /><label for="life">记住我的登录状态(30天)</label></td>
                    </tr>
                    <tr>
                        <td><input type="hidden" name="forward" value="$forward" /></td>
                        <td><button type="submit" name="onsubmit" value="yes" class="button">登录</button></td>
                    </tr>
                </table>
            </form>
            <div >
            <div class="login_line"></div>
            <div class="login_others">忘记密码了？<a href="{url member/login/op/forget}">找回密码</a><br />
			还没有帐号？<a href="{url member/reg}">现在注册</a></div>
        </div>
        </div>
    </div>
</div>
</div>
<!--{eval footer();}-->