<!--{eval $_HEAD['title'] = $space[spacename] . $_CFG['titlesplit'] . $space['spacedescribe'];}-->
{template modoer_header}
<script type="text/javascript">loadscript('item');</script>
<div id="body">
<div class="link_path">
    <em>
        <!--{loop $space_menus $val}-->
        <!--{eval $val['url']=str_replace('(uid)', $uid, $val['url']);}-->
        <a href="{url $val[url]}"{if SCRIPTNAV==$val[scriptnav]} class="active"{/if}>$val[title]</a>&nbsp;|
        <!--{/loop}-->
        已浏览：<span class="font_2">$space[pageview]</span>
    </em>
    <a href="{url modoer/index}">首页</a>&nbsp;&raquo;&nbsp;<a href="{url space/index/uid/$uid}">$member[username]</a>
</div>
<div id="space_left">
    {template space_side}
    <div class="mainrail rail-border-4 mt10">
        <h3 class="rail-h-1 rail-h-bg-5">我的好友</h3>
        <ul class="rail-faces space_sp2">
            <!--{loop $friends $val}-->
            <li><div><a href="{url space/index/uid/$val[friend_uid]}" target="_blank"><img src="{print get_face($val[friend_uid])}" /></a></div><a href="{url space/index/uid/$val[friend_uid]}" title="$val[username]" target="_blank"><span>$val[username]</span></a></li>
            <!--{/loop}-->
        </ul>
        <div class="clear"></div>
    </div>

</div>
<div id="space_right">
    <div class="mainrail rail-border-1 space_sp4">
        {if $reviews}<em class="space_sp3"><a href="{url space/reviews/uid/$uid}">更多</a></em>{/if}
        <h3 class="rail-h-1 rail-h-bg-5">我发表的点评</h3>
        {template space_part_review}
    </div>
    <div class="mainrail rail-border-1 space_sp4">
        {if $subjects}<em class="space_sp3"><a href="{url space/subjects/uid/$uid}">更多</a></em>{/if}
        <h3 class="rail-h-1 rail-h-bg-5">我添加的主题</h3>
        {template space_part_subject}
    </div>
</div>
</div>
<!--{eval footer();}-->